<div class="index-page-header">

    <div class="index-page-box">
        <div class="index-page-content">
            <div class="index-page-content-top">
                <div class="index-page-title"><span
                        th:utext="${#strings.isEmpty(theme.config.basics.siteTitle)} ? ${site.title} : ${theme.config.basics.siteTitle}"></span>
                </div>
                <div class="index-page-desc">Hi, I'm  A <span id="typed_role"></span></div>
            </div>
            <div class="index-page-content-social">
                <th:block th:with="socialMedias = ${theme.config.index.social_media.socialMedia}">
                    <a th:class="${socialMedia.option_social_data == 'custom' ? 'custom_socials' : 'deal_link'}" rel="external nofollow" target="_blank" th:each="socialMedia : ${socialMedias}"
                       th:href="${socialMedia.url}" th:title="${socialMedia.name}">
                        <i th:if="${socialMedia.option_social_data == 'icon'  || #strings.isEmpty(socialMedia.option_social_data)}"
                           th:class="${socialMedia.icon}"></i>
                        <th:block th:if="${socialMedia.option_social_data == 'custom'}" th:utext="${socialMedia.icon}"></th:block>
                    </a>
                </th:block>
            </div>
            <div class="index-page-content-bottom">Go.</div>

        </div>
<!--        <div class="index-page-left">-->
<!--            <span id="typed_text"></span>-->
<!--        </div>-->
    </div>


    <style>
        .index-page-header {
            height: calc(100vh - 60px);
            position: relative;
            display: flex;
            justify-content: center;
        }

        .index-page-header::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: calc(100vh - 60px);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
            mask-image: linear-gradient(transparent, black);
            background-position: bottom 1px center;
        }

        .index-page-box {
            max-width: 1400px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.5rem;
            z-index: 10;
        }

        .index-page-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
        }

        .index-page-content-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .index-page-content-social {
            margin-top: 120px;
            max-width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .index-page-content-bottom {
            position: absolute;
            bottom: 30px;
            left: 50%; /* 从左侧 50% 开始 */
            transform: translateX(-50%); /* 水平居中对齐 */
            cursor: pointer;
            animation: fadeInOut 3s infinite; /* 调用时隐时现动画 */
        }

        /* 时隐时现动画 */
        @keyframes fadeInOut {
            0% {
                opacity: 0; /* 开始时完全透明 */
            }
            50% {
                opacity: 1; /* 中间时完全显示 */
            }
            100% {
                opacity: 0; /* 结束时完全透明 */
            }
        }

        .index-page-logo {
            width: 200px;
            height: 200px;
            border-radius: 100%;
        }

        .index-page-title {
            font-size: 44px;
            color: var(--breeze-fontcolor);
            font-family: "AnnieUseYourTelescope", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
        }

        .index-page-title span {
            font-weight: bold;
            font-size: 50px;
        }

        .index-page-desc {
            font-weight: 300;
            font-size: 36px;
            font-family: "AnnieUseYourTelescope", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
        }

        .index-page-right {
            width: 120px;
            display: flex;
            flex-direction: column;
            height: 400px;
            justify-content: center;
        }

        .index-page-left {
            width: 120px;
            display: flex;
            justify-content: flex-end;
            height: 400px;
        }

        #typed_text {
            writing-mode: vertical-rl; /* 文字竖排 */
            text-orientation: upright; /* 保持文字方向正立 */
            letter-spacing: 0.2em;
            font-size: 16px;
            line-height: 1.5;
            height: 400px;
        }

        #typed_role {
            font-weight: bold;
            text-decoration: underline; /* 在文字底部添加一条横线 */
            color: var(--breeze-theme);
            font-family: "Peralta", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
        }


    </style>

    <script th:inline="javascript">
      function subtitleType() {
        // 文字
        // fetch("https://v1.hitokoto.cn").then((t => t.json())).then((t => {
        //   {
        //     const text = `${t.hitokoto} <br>|出自「${t.from}」`
        //     window.typed = new Typed("#typed_text", {
        //       strings: [text],
        //       startDelay: 300,
        //       typeSpeed: 100,
        //       loop: false,
        //       showCursor: false
        //     })
        //   }
        // }))
        if ([[${theme.config.basics.roles}]]) {
            const list = [[${theme.config.basics.roles}]].split('#')
          const n = list.map((item) => {
            return `${item}.`;
          });
          window.typed = new Typed("#typed_role", {
            strings: n,
            startDelay: 100,
            typeSpeed: 220,
            loop: !0,
            backSpeed: 100
          })
        }

      }

      // 防止加载文字太短时第一个自定义文字显示不出来
      setTimeout(() => {
        "function" == typeof Typed ? subtitleType() : breeze.getScript("https://npm.elemecdn.com/typed.js@2.0.12/lib/typed.min.js").then(subtitleType)
      }, 1800)
    </script>
</div>
