:root {
    --breeze-white: #fff;
    --breeze-white-op: rgba(255, 255, 255, 0.2);
    --breeze-black: #000;
    --breeze-black-op: rgba(0, 0, 0, 0.2);
    --breeze-none: #00000000;
    --breeze-gray: #999999;
    --breeze-gray-op: #9999992b;
    --breeze-vip: #e5a80d;
    --breeze-main: var(--breeze-theme);
    --breeze-main-op: var(--breeze-theme-op);
    --breeze-main-op-deep: var(--breeze-theme-op-deep);
    --breeze-main-op-light: var(--breeze-theme-op-light);
    --breeze-main-none: var(--breeze-theme-none);
    --breeze-shadow-theme: 0 8px 12px -3px var(--breeze-theme-op);
    --breeze-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --breeze-shadow-main: 0 8px 12px -3px var(--breeze-main-op);
    --breeze-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --breeze-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --breeze-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --breeze-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --breeze-shadow-red: 0 8px 12px -3px #ee7d7936;
    --breeze-shadow-green: 0 8px 12px -3px #87ee7936;
    --breeze-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --breeze-snackbar-time: 5s;
    --style-border: 1px solid var(--breeze-card-border);
    --style-border-always: 1px solid var(--breeze-card-border);
    --style-border-hover: 1px solid var(--breeze-main);
    --style-border-hover-always: 1px solid var(--breeze-main);
    --style-border-dashed: 1px dashed var(--breeze-theme-op);
    --breeze-radius-full: 50px;
    --global-font-size: 16px;

    --nav-font-color: var(--breeze-nav-font-color);
    --nav-font-weight: 700;
    --nav-font-size: 15px;
}

[data-theme=light] {
    --breeze-theme: #425AEF;
    --breeze-theme-op: #4259ef23;
    --breeze-theme-op-deep: #4259efdd;
    --breeze-theme-op-light: #4259ef0d;
    --breeze-theme-none: #4259ef01;
    --breeze-blue: #425AEF;
    --breeze-red: #f04a63;
    --breeze-pink: #FF7C7C;
    --breeze-green: #57bd6a;
    --breeze-yellow: #c28b00;
    --breeze-yellow-op: #d99c001a;
    --breeze-orange: #e38100;
    --breeze-fontcolor: #363636;
    --breeze-background: #f7f9fe;
    --breeze-reverse: #000;
    --breeze-maskbg: rgba(255, 255, 255, 0.6);
    --breeze-maskbgdeep: rgba(255, 255, 255, 0.85);
    --breeze-hovertext: var(--breeze-main);
    --breeze-ahoverbg: #F7F7FA;
    --breeze-lighttext: var(--breeze-main);
    --breeze-secondtext: rgba(60, 60, 67, 0.8);
    --breeze-scrollbar: rgba(60, 60, 67, 0.4);
    --breeze-card-btn-bg: #edf0f7;
    --breeze-post-blockquote-bg: #fafcff;
    --breeze-post-tabs-bg: #f2f5f8;
    --breeze-secondbg: #f7f7f9;
    --breeze-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --breeze-card-bg: #fff;
    --breeze-card-bg-op: var(--breeze-black-op);
    --breeze-card-bg-none: rgba(255, 255, 255, 0);
    --breeze-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --breeze-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --breeze-card-border: #e3e8f7;
    --breeze-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-forever: 2px solid var(--breeze-main);

    --breeze-title-fontcolor: rgba(12,18,30,.85);
}

[data-theme=dark] {
    --breeze-theme: #ffc848;
    --breeze-theme-op: #f2b94b23;
    --breeze-theme-op-deep: #f2b94bdd;
    --breeze-theme-none: #f2b94b00;
    --breeze-blue: #0084FF;
    --breeze-red: #FF3842;
    --breeze-pink: #d44040;
    --breeze-green: #3e9f50;
    --breeze-yellow: #ffc93e;
    --breeze-yellow-op: #ffc93e30;
    --breeze-orange: #ff953e;
    --breeze-fontcolor: #F7F7FA;
    --breeze-background: #18171d;
    --breeze-reverse: #fff;
    --breeze-maskbg: rgba(0, 0, 0, 0.6);
    --breeze-maskbgdeep: rgba(0, 0, 0, 0.85);
    --breeze-hovertext: #0A84FF;
    --breeze-ahoverbg: #fff;
    --breeze-lighttext: var(--breeze-theme);
    --breeze-secondtext: #a1a2b8;
    --breeze-scrollbar: rgba(200, 200, 223, 0.4);
    --breeze-card-btn-bg: #30343f;
    --breeze-post-blockquote-bg: #000;
    --breeze-post-tabs-bg: #121212;
    --breeze-secondbg: #21232a;
    --breeze-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --breeze-card-bg: #1d1e22;
    --breeze-card-bg-op: var(--breeze-white-op);
    --breeze-card-bg-none: #1d1b2600;
    --breeze-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --breeze-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --breeze-card-border: #3d3d3f;
    --breeze-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--breeze-card-border);
    --style-border-always: 1px solid var(--breeze-card-border);
    --style-border-hover: 1px solid var(--breeze-lighttext);
    --style-border-dashed: 1px dashed var(--breeze-theme-op);
    --style-border-forever: 2px solid var(--breeze-lighttext);

    --breeze-title-fontcolor: rgba(251,252,254,.85);
}
