<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layouts/layout :: layout(content = ~{::content}, htmlType = 'index', title = null, head = ~{::head})}">

<!-- head -->
<th:block th:fragment="head">
    <th:block th:replace="~{modules/common/open-graph :: open-graph(_title = ${site.title},
                _permalink = '',
                _cover = ${theme.config.other.opengraph.image},
                _excerpt = ${site.seo.description},
                _type = 'website')}"></th:block>
</th:block>

<!-- content -->
<th:block th:fragment="content">
    <div class="page" id="body-wrap">
        <!-- 头部导航栏 -->
        <header id="page-header">
            <nav th:replace="~{modules/nav :: nav(title = ${siteTitle})}"></nav>
        </header>
    </div>
</th:block>

</html>